@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

}
.h2r{
    color: white;
}

.register-container {
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 800px;
}


.login-box {
    width: 500px;
    margin: auto auto;
    background-image: linear-gradient(to right, #522b46, #633154);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.input[type='email'],
.input[type='password'] {
    border: none;
    outline: none;
    background: none;
    color: #333;
    font-size: 18px;
    padding: 10px 0;
}

.input-box {

    margin-bottom: 30px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

.input-box.active input,
.input-box input:focus {
    border-color: #007bff;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-box.active label,
.input-box input:focus~label {
    top: -15px;
    font-size: 14px;
    color: #cb5fdf;
}

.icon {
    position: absolute;
    top: 10px;
    left: 0;
}

.remember-forget {
    margin-bottom: 20px;
}

button[type='submit'] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif
}

button[type='submit']:hover {
    background-color: #ECECEC;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #DC98FA;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}






button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}



.Register-box {
    position: relative;
    width: 380px;
    height: 700px;
    background: #000;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    margin: 80px auto 0;
    transition: 0.1s;
}



.Inicio {
    font-weight: lighter;
    margin: 0;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box .input:focus~label,
.input-box .input:valid~label {
    top: -5px;
}

.input-box .input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
    box-sizing: border-box;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    margin-right: 3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box {
        width: 290px;
    }
}


.google-btn {
    background-color: #fff;
    margin-top: 10px;
    /* Color de fondo blanco */
    color: #757575;
    /* Color de texto Google */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    /* Padding horizontal */
    height: 40px;
    /* Altura del botón */
    border-radius: 2px;
    /* Bordes ligeramente redondeados */
    border: 1px solid #f5f5f5;
    /* Borde sutil */
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .1), -1px -1px 5px 0 rgba(0, 0, 0, .1);
    /* Sombra suave */
    cursor: pointer;
    /* Cursor en forma de mano para indicar clic */
    transition: box-shadow 0.2s;
    /* Transición suave al cambiar la sombra */
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
    /* Sombra con el color de Google al pasar el ratón */
}

.google-icon-wrapper {
    background-color: #fff;
    /* Fondo blanco para el icono */
    border-right: 1px solid #f5f5f5;
    /* Separador */
    padding: 10px;
    /* Espacio alrededor del icono */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
    /* Separación entre el icono y el texto */
}

.google-icon {
    width: 18px;
    /* Tamaño del icono de Google */
    height: 18px;
    /* Mantener la proporción del icono */
}

.google-btn-text {
    font-size: 14px;
    /* Tamaño del texto */
    font-weight: 500;
    /* Peso del texto */
    letter-spacing: 0.2px;
    /* Espaciado de caracteres */
    color: #757575;
    /* Color del texto */
}

.facebook-btn {
    background-color: #4267B2;
    /* Color de fondo característico de Facebook */
    color: white;
    /* Color del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    /* Espacio superior para separar de otros botones */
    border-radius: 5px;
    /* Bordes redondeados */
    border: none;
    /* Sin borde */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra para dar profundidad */
    cursor: pointer;
    /* Cursor en forma de mano para indicar clic */
    transition: background-color 0.3s;
    /* Transición suave al cambiar de color */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;
}

.facebook-btn:hover {
    background-color: #365899;
    /* Color de fondo más oscuro al pasar el ratón */
}

.facebook-btn-text {
    margin-left: 10px;
    /* Espaciado entre el ícono y el texto */
}

.error-message {
    position: fixed;
    margin-top: 62px;
    /* O absolute si estás dentro de un contenedor posicionado */
    top: 20px;
    right: 20px;
    background-color: #f44336;
    /* Rojo para errores */
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    /* Asegúrate de que esté sobre otros elementos */
    opacity: 5;
    /* Inicia oculto */
    animation: slideInOut 5s ease-in-out forwards;
}

@keyframes slideInOut {

    0%,
    100% {
        top: -50px;
        /* Empieza escondido fuera del viewport */
        opacity: 0;
    }

    10%,
    90% {
        top: 20px;
        /* La posición final visible */
        opacity: 1;
    }
}