.product-popup-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.product-popup-overlay.active {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.product-popup {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    position: relative; /* Importante para posicionar el botón de cierre */
}

.close-buttonn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Ajustar el tamaño del icono */
    color: #333; /* Color del icono */
    transition: color 0.3s ease; /* Efecto de transición para el color */
}

.close-buttonn:hover {
    color: #000; /* Color del icono al pasar el ratón */
}

.product-details-container {
    display: flex;
}

.product-left {
    flex: 1;
    margin-right: 20px;
}

.product-left img {
    border-radius: 5px;
}

.product-right {
    flex: 1;
}

.product-right h2 {
    color: black;
    font-size: 28px;
}

.product-details h2 {
    color: black;
    margin-bottom: 10px;
}

.product-details p {
    margin-bottom: 20px;
}

.product-details button {
    background-color: #d60606;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #920000;
}

.rate .fa-star.fas {
    color: #ffcd4e;
}

.rate i {
    font-size: 15px;
    color: #ffcd4e;
}

.buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.add-to-cart,
.ask-on-whatsapp {
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.add-to-cart {
    background-color: #ac0505;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    width: 12rem;
    height: 48px;
}

.ask-on-whatsapp {
    background-color: #25d366;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.ask-on-whatsapp i {
    margin-right: 8px;
}

.add-to-cart:hover,
.ask-on-whatsapp:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.add-to-cart:focus,
.ask-on-whatsapp:focus {
    outline: none;
}

.add-to-cart-button {
    background-color: #c82d5c;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.add-to-cart-button:hover {
    background-color: #a71a1a;
}

.add-to-cart-button svg {
    margin-right: 0.5rem;
}

@media (min-width: 768px) {
    .product-popup {
        width: 70%;
        max-height: 90vh;
    }
}

@media (min-width: 1024px) {
    .product-popup {
        width: 50%;
    }
}

.product-details-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .product-details-container {
        flex-direction: row;
    }
}

.buttons-container a {
    padding: 10px 15px;
    font-size: 14px;
}

@media (min-width: 768px) {
    .buttons-container a {
        padding: 12px 20px;
        font-size: 16px;
    }
}

.product-right {
    padding: 0 10px;
}

h2,
.product-details p {
    font-size: 14px;
}

@media (min-width: 768px) {
    h2,
    .product-details p {
        font-size: 18px;
    }
}

input[type="radio"] {
    display: none;
}
