/*.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    margin-bottom: 20px;
}
.product-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 5px;
}
.product-price p {
    font-size: 18px;
    color: #c82d5c;
    font-weight: bold;
}
.product-info p {
    font-size: 16px;
    color: #666;
}
*/

/*product-details {
    margin-left: 20px;
}

.product-details h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 5px;
}
.product-details p {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
*/

.wishlist-items {
    height: auto;
    padding: 50px 0;
}

.wishlist-items .wishlist-details {
    width: 70%;
}

.wishlist-list {
    background: white;
    margin-top: 30px;
}

.wishlist-items .img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.wishlist-items .wishlist-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wishlist-items .wishlist-details h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.wishlist-items .wishlist-details h4 {
    font-size: 15px;
    font-weight: 400;
    margin-top: 50px;
    color: grey;
}

.removeWishlist {
    background: none;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
}

.wishlist-items .wishlist-details span {
    color: #c82d5c;
    margin-left: 20px;
    font-weight: 500;
}

.wishlist-items .wishlist-total {
    width: 30%;
    margin-top: 30px;
    margin-left: 30px;
    min-height: 130px;
    height: 130px;
    box-sizing: border-box;
    padding: 20px;
}

