.crud-usuarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

.crud-usuarios table tbody tr:hover td {
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.crud-options {
    height: 4em;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.crud-options button {
    background-color: #c82d5c;
    color: #f8f9fa;
    border: none;
    transition: 0.4s;
    height: 3em;
    /* Ajusta la altura del botón */
    border-radius: 14px;
    width: 12em;
    /* Ajusta el ancho del botón */
    font-size: 18px;
    /* Ajusta el tamaño del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.crud-options button:hover {
    background-color: #b02350;
}

.table-container {
    width: 100%;
    overflow: hidden;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}

.table-container th,
.table-container td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

.table-container tr td button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #c82d5c;
    color: #c82d5c;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.table-container tr td button:hover {
    background-color: #c82d5c;
    border: 1px solid #fff;
    color: #fff;
}

.table-container tr td button svg {
    height: 20px;
}


#borrar {
    background-color: #c82d5c;
    color: #f8f9fa;
    border: none;
    transition: 0.4s;
}

#acciones {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#borrar:hover {
    background-color: #f8f9fa;
    color: #c82d5c;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .crud-usuarios {
        width: 100%;
        padding: 10px;
    }

    .crud-options button {
        width: 100%;
        font-size: 16px;
    }

    .table-container th,
    .table-container td {
        padding: 10px;
        font-size: 14px;
    }

    .table-container {
        width: 100%;
        overflow-x: auto;
    }
}

@media (max-width: 480px) {

    .table-container th,
    .table-container td {
        padding: 8px;
        font-size: 12px;
    }

    .crud-options button {
        width: 100%;
        font-size: 14px;
    }
}