.crud-productos .crud-options button {
    margin-right: 10px; /* Espaciado entre botones */
}

.table-container {
    overflow-x: auto; /* Habilitar desplazamiento horizontal */
}

.scrollable-content {
    max-height: 400px; /* Altura máxima de la tabla con scroll */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
}

.product_description {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px; /* Ajustar según el tamaño deseado */
}

/* Estilos adicionales para separación visual y alineación */
.crud-productos table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.crud-productos th,
.crud-productos td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.crud-productos th {
    background-color: #f0f0f0;
}

.crud-productos td {
    background-color: #ffffff;
}

.crud-productos .crud-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
