.crud-productos{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: auto;
}

.crud-options{
    height: 4em;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.crud-options svg{
    height: 20px;
    margin: auto;
}
.crud-options button{
    background-color: #c82d5c;
    color: #f8f9fa;
    border: none;
    transition: 0.4s;
    height: 2em;
    border-radius: 14px;
    width: 10em;
    font-size: 20px;
}
.crud-productos table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(16, 14, 14);
    border-radius: 3px;
    overflow: hidden;
    margin: auto;
}

.crud-productos table tr{
    border: 1px solid rgb(5, 5, 5);
    border-radius: 5px;
}
.crud-productos table tr th{
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgb(246,246,246);
    color: rgb(128, 128, 128);
}



.crud-productos table tbody{
    height: 200px;
    overflow: scroll;
}
.crud-productos tr td button{
    padding: 5px ;
    margin: 10px 10px;
    font-size: 3px;
    background-color: #FFF;
    border: 1px solid #202020;
    width: 30px;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s;
}
.crud-productos tr td button:hover{
    background-color: #202020;
    border: 1px solid #FFF;
    color: #FFF
}
.crud-productos tr td button svg{
    height: 20px;
}
#borrar{
    background-color: #c82d5c;
    color: #f8f9fa;
    border: none;
    transition: 0.4s;
}
#acciones{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#borrar:hover{
    background-color: #f8f9fa;
    color: #c82d5c;
}