.content {
    display: flex;
    flex-direction: column; /* Asegura que los elementos estén uno debajo del otro */
    gap: 20px; /* Espacio entre los elementos */
    padding: 20px;
}

.section-titles {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.row {
    background: linear-gradient(40deg, #00484e, #810551);
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.2s ease;
}

.row:hover {
    transform: scale(0.99);
}

.row > * {
    max-width: 100%;
    overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}
