/* Estilos generales del carrito */
.cart-items {
    height: auto;
    padding: 50px 0;

}

.cart-flex {
    display: flex;
}

#carttotal {
    height: 200px;
}

.cart-items .cart-details {
    width: 70%;
}

.cart-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.cart-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.price-info {
    margin-top: 20px;
}

.cart-list {
    width: 70%;
    background: #fff;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 100px;
}

.cart-list .img {
    width: 150px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}

.cart-details img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-details h3,
.cart-details h4 {
    margin: 10px 0;
}

.cart-details h3 {
    font-size: 20px;
    font-weight: 500;
}

.cart-details h4 {
    font-size: 16px;
    color: grey;
    display: inline-block;
}

.cart-items-function {
    flex: 1;
}

/* Estilos para botones y controles */
.removeCart,
.incCart,
.desCart {
    background: none;
    border: none;
    cursor: pointer;
}

.removeCart {
    font-size: 24px;
    color: #c82d5c;
    text-align: right;
}

.fas.fa-times {
    text-align: center;
}

.cartControl button {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cartControl {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.cartControl .incCart:hover,
.cartControl .desCart:hover {
    background-color: #f0f0f0;
}

/* Estilos para la sección de total */
.cart-total {
    width: 30%;
    margin-top: 30px;
    background: #fafafa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    /* Usa flexbox para alinear el contenido */
    flex-direction: column;
    /* Alineación vertical de los elementos */
    justify-content: space-between;
    /* Espacio entre elementos */
    /* Espacio por encima del contenedor */
    margin-left: auto;
    /* Alineación a la derecha */
    margin-right: 30px;
    /* Espacio a la derecha */
    position: relative;
    /* Posicionamiento relativo para el posicionamiento absoluto del botón */
}


.cart-total .d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-total h4,
.cart-total h3 {
    margin: 0;
}

/* Botón de compra */
.botoncompra {
    text-align: center;

}

.botoncompra button {
    background-color: #c82d5c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.botoncompra button:hover,
.botoncompra button:active {
    background-color: #a6204a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.no-items {
    margin: auto;
}

/* Responsividad */
@media (max-width: 768px) {
    #mobile{
        flex-direction: column;
    }
    .cart-items,
    .cart-total {
        width: 100%;
        margin-left: 0;
    }

    .cartControl button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .cart-total .d_flex h3,
    .cart-total .d_flex h4 {
        font-size: 16px;
    }

    .cart-items .cart-details {
        width: 93%;
    }
}

@media (max-width: 768px) {
    .cart-items,
    .cart-total {
        width: 93%;
        margin-left: 0;
    }

    .cart-list {
        width: 100%;
        margin-left: 0;
    }

    .cartControl button {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .cart-total .d_flex h3,
    .cart-total .d_flex h4 {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .cart-info {
        margin-left: 0;
    }

    .price-info {
        font-size: 14px;
    }

    .cart-details h3 {
        font-size: 18px;
    }

    .cart-details h4 {
        font-size: 14px;
    }

    .cartControl {
        margin-top: 10px;
    }
}

.mobile .cart-details {
    order: 1;
    width: 100%;
}

.mobile .cart-total {
    order: 2;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
}