.tusordenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    max-width: 1200px; /* Limitar el ancho máximo */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidad */
    animation: fadeIn 1s ease-in-out; /* Animación de entrada */
    overflow-x: auto; /* Permitir scroll horizontal si es necesario */
}

.tusordenes Table {
    width: 100%;
    table-layout: auto; /* Permitir que el navegador maneje el ancho de las columnas */
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    overflow: hidden; /* Asegura que la sombra interior se aplique correctamente */
}

.tusordenes .order-number,
.tusordenes .order-date,
.tusordenes .order-status,
.tusordenes .order-total {
    text-align: left;
    padding: 12px 15px;
}

.tusordenes .order-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.tusordenes .greenDot { background-color: #4caf50; }
.tusordenes .yellowDot { background-color: #ffeb3b; }
.tusordenes .redDot { background-color: #f44336; }

/* Animaciones suaves */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Animación al pasar el cursor sobre las filas */
.tusordenes tr {
    transition: transform 0.3s ease;
}

.tusordenes tr:hover {
    transform: scale(1.02); /* Escalar ligeramente al pasar el ratón */
}

.tusordenes td button {
    padding: 5px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer; /* Indica que es un elemento clickeable */
    transition: all 0.3s ease;
}

.tusordenes td button:hover {
    background-color: #ddd; /* Cambiar color al pasar el ratón */
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Estilos adicionales para adultos */
.tusordenes th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: 500;
    border-bottom: 2px solid #ddd; /* Línea inferior para resaltar encabezados */
}
