.tusordenes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2rem auto;
    max-width: 1200px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
    overflow-x: auto;
    border-radius: 8px;
    /* Añadir bordes redondeados */
}

.tusordenes table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
    margin: auto;
    background-color: white;
    overflow: hidden;
    border-radius: 8px;
    /* Añadir bordes redondeados */
}

.tusordenes .order-number,
.tusordenes .order-date,
.tusordenes .order-status,
.tusordenes .order-total {
    text-align: left;
    padding: 12px 15px;
    font-size: 16px;
}

.tusordenes .order-dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
    top: 1px;
}

.tusordenes .greenDot {
    background-color: #4caf50;
}

.tusordenes .yellowDot {
    background-color: #ffeb3b;
}

.tusordenes .redDot {
    background-color: #f44336;
}

.tusordenes .blueDot {
    background-color: #2196f3;
}

.tusordenes .purpleDot {
    background-color: #9c27b0;
}

.tusordenes .greyDot {
    background-color: #9e9e9e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tusordenes tr {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tusordenes tr:hover {
    transform: scale(1.02);
    background-color: #f1f1f1;
    /* Añadir un fondo gris claro al pasar el ratón */
}

.tusordenes td button {
    padding: 5px 20px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tusordenes td button:hover {
    background-color: #ddd;
    transform: scale(1.05);
}

.tusordenes th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: 500;
    border-bottom: 2px solid #ddd;
    padding: 12px 15px;
    font-size: 18px;
}