.add-product-form {
    max-width: 650px;
    padding: 1.5rem;
    background: #f7f7f7;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 30px auto;
}

.name{
    color: black;
    margin: 10px;

}

.add-product-form input,
.add-product-form select,
.add-product-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.add-product-form select {
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
        /* Eliminar el estilo predeterminado en el estándar */
        background: url('data:image/svg+xml;utf8,<svg ...></svg>') no-repeat right;
        /* Icono de flecha personalizado */
        background-position-x: 95%;
}

.add-product-form select::-ms-expand {
    display: none;
    /* Ocultar el icono de flecha en IE */
}

.add-product-form select:focus,
.add-product-form input:focus,
.add-product-form textarea:focus {
    border-color: #ff0000;
    outline: none;
}

.add-product-form button {
    width: 100%;
    padding: 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-form button:hover {
    background-color: #b30000;
}

.add-product-form textarea {
    resize: vertical;
    min-height: 150px;
}

.add-product-form input[type="file"] {
    padding: 15px;
    background-color: #f7f7f7;
    border: 1px dashed #ccc;
    text-align: center;
    transition: background-color 0.3s ease;
}

.add-product-form input[type="file"]:hover,
.add-product-form input[type="file"]:focus {
    background-color: #e7e7e7;
    border-color: #ff0000;
}

.add-product-form input[type="file"]::file-selector-button {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-product-form input[type="file"]::file-selector-button:hover {
    background-color: #ccc;
}