ul,
li {
    list-style: none;
    white-space: nowrap;
}

li {
    display: inline;
    width: 100%;
    height: 100%;
}

.imgs {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.carousel-cont {
    display: flex;
    align-items: center;
    padding-top: 40px;
    width: 100%;
}

.main-container {
    width: 700px;
    margin: auto;
}

.container-images {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #eee;
    overflow: hidden;
}

.container-images ul {
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.container-images li {
    flex: 0 0 100%;
}

.container-images {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-container {
    position: relative;
    height: 100%;
}

/*Controladores del carrusel*/
.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 32px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 32px;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}

.category-info {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.category-info h3 {
    margin: 0;
    font-size: 1.5em;
}

.category-info p {
    margin: 5px 0 0;
    font-size: 1em;
}
