/* Estilos para el contenedor principal */
.containerCat {
    padding: 0 2rem;
    margin-bottom: 4rem;
}

/* Estilos para la lista de categorías */
.categorypopup {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.category-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0;
    margin-bottom: 0;
    border-radius: 8px;
}

/* Estilos para el contenedor de la tarjeta de categoría */
.card-container-category {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container-category:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(200, 200, 200, 0.5);
    cursor: pointer;
}

/* Estilos para la imagen de la categoría */
.card-container-category img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Estilos para el contenido de la tarjeta de categoría */
.card-category {
    padding: 1.5rem;
}

.card-category h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #292c33;
}

.card-category p {
    color: #666;
    line-height: 1.5;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Estilos para el contenedor de productos */
.product-popupp {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: none;
    margin-top: 40px;
}

.product-popupp h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #292c33;
}

/* Estilos para el contenedor de tarjetas de producto */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
}

/* Estilos para la tarjeta de producto */
.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Mantiene los elementos internos bien organizados */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    /* Ajusta la altura máxima para mantener la proporción */
    object-fit: cover;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: #292c33;
}

.card p {
    color: #666;
    line-height: 1.5;
    font-size: 0.9rem;
}

.card .add-to-cart {
    display: inline-block;
    background-color: #c93131;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.card .add-to-cart:hover {
    background-color: #ad0c27;
}

/* Estilos responsivos */
@media (max-width: 768px) {

    .category-list,
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {

    .category-list,
    .card-container {
        grid-template-columns: 1fr;
    }
}