.category-list {
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-auto-rows: 22rem ;
    grid-template-columns: repeat(auto-fill,minmax(35rem, 1fr));
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    overflow: hidden;
}
.card-container-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background: #f0f0f0;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.category-list div {
    float: left;
    margin: 3px;
}
.card-content-category{
    padding: 16px;
}
.card-category{
    background: #f0f0f0;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}
.card-container-category:hover {
    transition: 0.5s;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-container-category img{
    height: 200px;
    width: 100%;
}
.category-list div a {
    text-decoration: none;
    background: #292c33;
    color: white;
    padding: 5px 20px;; /* Reduciendo el padding para hacer los botones más pequeños */
    display: block;
    margin: 3px;
    border-left: 4px solid #f26739;
    text-transform: capitalize;
    transition: all .7s;
    width: 100%;
}

.category-list div a:hover {
    background: #C8102E;
    border-left: 4px solid #111;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 10px;
}
