body {
    height: 100%;
    margin: 0;
}

#app,
.App,
.container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    flex-grow: 1;

}

.footer {
    background-color: #522b46;
    color: #fff;
    padding: 20px 40px;
    /* Ajuste del padding para más espacio */
    font-family: 'Open Sans', sans-serif;
    transition: background-color 0.3s;
    /* Transición suave del color de fondo */
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    /* Transición suave del color */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
    position: relative;
    /* Para el detalle visual */
}

.footer-top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
    background: linear-gradient(to right, #522b46, #fff, #522b46);
}

.footer-contact p,
.footer-social a,
.footer-nav a {
    margin: 5px 0;
}

.footer-social a img,
.footer-nav a img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    /* Preparación para animaciones */
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer-legal a {
    margin: 10px 10px;
}

.footer-brand,
.footer-copy {
    flex: 1;
    text-align: center;
    margin: 10px 0;
}

.footer-brand img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-social a img,
    .footer-nav a img {
        margin: 0 4px;
    }

    .footer-legal a {
        margin: 0 10px;
    }

    .footer-brand,
    .footer-copy {
        text-align: center;
        width: 100%;
    }
}

.footer a:hover,
.footer a:focus {
    color: #c7a2c7;
    /* Cambio de color al interactuar */
}

.footer-social a:hover img,
.footer-social a:focus img {
    transform: scale(1.1);
    /* Efecto de crecimiento */
    filter: brightness(1.2);
    /* Aclarar el ícono */
}

.footer-legal a:hover {
    text-decoration: underline;
    text-decoration-color: #c7a2c7;
    /* Estilo de subrayado al pasar el mouse */
}