

#app,
.App,
.container {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    flex-grow: 1;

}


.footer {
    background-color: #522b46;
    /* Fondo oscuro para contraste */
    color: #fff;
    padding: 15px 30px;
    /* Reducción del padding para un diseño más compacto */

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    /* Transiciones suaves */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.footer-top::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, #522b46, #fff, #522b46);
    /* Línea decorativa más sutil */
}

.footer-contact p,
.footer-social a {
    margin: 5px 0;
    /* Reducción de los márgenes para un diseño más compacto */
}

.footer-social a img {
    width: 20px;
    /* Reducción del tamaño de los íconos */
    height: 20px;
    margin-right: 8px;
    /* Espacio entre ícono y enlace */
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-legal a,
.footer-brand a {
    margin: 5px;
    font-size: 15px;
}

.footer-brand img {
    width: 50px;
    /* Logotipo más pequeño */
    height: 50px;
}

.footer-copy {
    text-align: center;
    width: 100%;
}

.derecho{
    font-size: 12px;
}

@media (max-width: 768px) {

    .footer-top,
    .footer-bottom {
        flex-direction: column;
        align-items: center;
    }

    .footer-social a img,
    .footer-nav a img {
        margin: 0 2px;
        /* Menor margen para móviles */
    }

    .footer-legal a,
    .footer-brand a {
        margin: 3px 0;
        /* Margen aún más reducido para móviles */
    }

    .footer-brand,
    .footer-copy {
        text-align: center;
    }
}

.footer a:hover,
.footer a:focus {
    color: #c7a2c7;
    /* Cambio de color al interactuar */
}

.footer-social a:hover img,
.footer-social a:focus img {
    transform: scale(1.1);
    /* Efecto de escala */
    filter: brightness(1.2);
    /* Aclarar el ícono */
}

.footer-legal a:hover {
    text-decoration: underline;
    /* Subrayado al pasar el mouse */
    text-decoration-color: #c7a2c7;
}

.scroll-top-button {
    bottom: 10px;
    right: 10px;
    width: 50%;
    height: 35px;
    background-color: #FCF5EB;
    color: rgb(59, 59, 59);
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 50%;
}

.scroll-top-button:hover {
    background-color: rgba(151, 0, 0, 0.438);
    color: white;
    transform: scale(1.1);
}

.scroll-top-button:focus {
    outline: none;
}