.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(252, 245, 235, 0.582);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
    border-radius: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container  {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.store-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}

.nombre-sitio {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.nav .nombre-sitio:hover {
    transform: scale(1.1);
}




.navegacion {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}


.navegacion li:last-child {
    margin-right: 0;
}

.perfil-link {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    align-items: center;
}

.navegacion .perfil-link,
.navegacion .cart-link {
    margin-right: 20px;
}

.navegacion a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative; 
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

.navegacion a:not(.cart-link, .perfil-link, .wishlist-link, .notification-link)::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50.5%;
    top: 28px;
    transform: translateX(-50%) scaleX(0);
    width: 78%;
    height: 2px;
    background-color: #633154;
    transition: transform 0.7s ease;
    transform-origin: center;
}

.navegacion a:not(.cart-link):hover::after {
    transform: translateX(-50%) scaleX(1);
}

.navegacion .cart-link img {
    margin-right: -10px;
}



.cart,
.logout-button,
.wishlist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.3rem;
    margin: 0 50px 0 0.5rem;
}

.cart ,
.c_flex {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.f_flex {
    display: flex;
}

.logout-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #522b4600;
    padding: 0;
    top: -10px;
    margin-left: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 20px;
    bottom: 5px;
    background-color:rgba(255, 255, 255, 0);
}



.wishlist{
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -8px;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
}

.cart  {
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-top: 10px;
}

.logout-button img {
    width: 30px;
    height: 30px;
}

.wishlist-link img{
    height: 40px;
    width: 40px;
}

.cart span,
.notifications span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    background-color: #c82d5c;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navbar-avatar{
    border-radius: 10px;
}


.select-custom {
    appearance: none;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.select-custom option {
    color: #000000;
    background-color: #ffffff;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
}

.result-item:hover,
.result-item.selected {
    background-color: #f2f2f2;
}

.links {
    padding: 10px;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo-image {
    width: 60px;
    height: 60px;
}




.perfil-link,
.cart-link,
.wishlist-link,
.notification-link {
    display: inline-block;
}

.cart,
.logout-button,
.wishlist,
.notifications {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.notifications{
    bottom: 6px;
}

.cart:hover,
.logout-button:hover,
.wishlist:hover,
.notifications:hover {
    background-color: #9b9b9b54;
}

.cart img,
.logout-button img,
.wishlist img,
.notifications img {
    width: 30px;
    height: 30px;
}

.navbar-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Estilos para el modal */
.modal {
    display: flex;
    justify-content: flex-end;  /* Alinea el modal a la derecha */
    align-items: start;         /* Alinea el modal a la parte superior */
    position: fixed;
    z-index: 9999;
    top: 70px;                  /* Ajusta según la altura de tu navbar */
    right: 0;
    margin-right: 10px;                   /* Coloca el modal a la derecha */
    width: auto;
    height: auto;
    overflow: auto;
}

.modal-contentt {
    background-color: #ffffff;
    padding: 30px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.3s ease-out;
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.modal-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.modal-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.modal-option:hover {
    background-color: #f1f1f1;
}

.modal-option img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.modal-option span {
    font-size: 16px;
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.modal-contentt.hide {
    animation: slideOut 0.3s ease-out;
}
/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        /* Espacio uniforme alrededor */
    }

    .logo-container {
        margin-bottom: 1rem;
        /* Espacio claro bajo el logo */
    }

    .search {
        width: 80%;
        /* Aprovecha todo el ancho disponible */
        margin: 0rem 0;
        /* Espaciado uniforme */
        width: 40%;
        left: 10px;
    }

    .navegacion {
        display: flex;
        flex-direction: row;
        /* Alineación horizontal */
        justify-content: center;
        /* Centrado horizontal */
        list-style-type: none;
        /* Elimina los estilos de lista predeterminados */
        padding: 0;
        /* Elimina el padding predeterminado */
        margin-top: 0.5rem;
        /* Espaciado uniforme desde la parte superior */
    }

    .navegacion li {
        margin: 0 15px;
        /* Espaciado uniforme entre elementos */
    }

    .modal {
        position: fixed;
        top: 10%;
        /* Posicionado ligeramente desde la parte superior */
        left: 0;
        /* Alineado a la izquierda */
        right: 0;
        /* Alineado a la derecha */
        margin: auto;
        /* Centrado horizontal */
        width: 90%;
        /* Aprovecha el 90% del ancho */
        height: auto;
        /* Altura automática basada en el contenido */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-contentt {
        width: 100%;
        /* Usa todo el ancho disponible */
        background: #fff;
        /* Fondo blanco para el contenido */
        border-radius: 10px;
        /* Bordes redondeados */
        padding: 20px;
        /* Padding interno */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Sombra suave para profundidad */
    }

    .modal-option {
        padding: 15px;
        /* Padding cómodo */
        border-bottom: 1px solid #eee;
        /* Separador sutil */
    }

    .modal-option span {
        font-size: 16px;
        /* Tamaño adecuado para legibilidad */
    }

    .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        /* Tamaño grande para facilidad de uso */
        cursor: pointer;
        /* Indica interactividad */
    }
}