.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(252, 245, 235, 0.582);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container  {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}

.store-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
}

.nombre-sitio {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.nav .nombre-sitio:hover {
    transform: scale(1.1);
}

.search {
    &__container {
        padding-top: 0;
        justify-content: center;
    }

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #000000;
    }

    &__input {
        width: 80%;
        padding: 12px 60px;
        color: rgb(0, 0, 0);
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #000000;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='black'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #000000;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: rgb(0, 0, 0);
            letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
            padding: 12px 50px;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #000000;
            border-radius: 0;
            background-position: 90% center;
        }
    }
}

.navegacion {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}


.navegacion li:last-child {
    margin-right: 0;
}

.perfil-link {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
    align-items: center;
}

.navegacion .perfil-link,
.navegacion .cart-link {
    margin-right: 20px;
}

.navegacion a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative; 
    display: inline-block;
    padding: 0.5rem 1rem;
}

.navegacion a:not(.cart-link, .perfil-link, .wishlist-link)::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50.5%;
    top: 28px;
    transform: translateX(-50%) scaleX(0);
    width: 78%;
    height: 2px;
    background-color: #633154;
    transition: transform 0.7s ease;
    transform-origin: center;
}

.navegacion a:not(.cart-link):hover::after {
    transform: translateX(-50%) scaleX(1);
}

.navegacion .cart-link img {
    margin-right: -10px;
}



.cart,
.logout-button,
.wishlist {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.3rem;
    margin: 0 50px 0 0.5rem;
}

.cart ,
.c_flex {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.f_flex {
    display: flex;
}

.logout-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #522b4600;
    padding: 0;
    top: -10px;
    margin-left: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.cart {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-right: 20px;
    bottom: 5px;
    background-color:rgba(255, 255, 255, 0);
}

.cart:hover,
.logout-button:hover, .wishlist:hover {
    background-color: #9b9b9b54;
}

.wishlist{
    display: inline-flex;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    top: -8px;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
}

.cart  {
    width: 40px;
    height: 40px;
    z-index: 1;
    margin-top: 10px;
}

.logout-button img {
    width: 30px;
    height: 30px;
}

.wishlist-link img{
    height: 40px;
    width: 40px;
}

.cart span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    background-color: #c82d5c;
    color: rgb(255, 255, 255);
    font-size: 0.6rem;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.navbar-avatar{
    border-radius: 10px;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0;
    }

    .navbar-avatar {
        border-radius: 10px;
    }

    .nombre-sitio {
        padding: 0;
        margin-bottom: 1rem;
    }

    .search {
        width: calc(100% - 20px);
        max-width: 300px;
        padding: 10px;
        box-sizing: border-box;
    }

    .search__input {
        width: 100%;
        padding: 12px 16px;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 50px;
        border: 1px solid #000000;
    }

    .navegacion {
        flex-direction: row;
        justify-content: center;
        padding: 0;
        margin-top: 1rem;
    }

    .navegacion li {
        margin: 0 10px;
    }

    .navegacion li:last-child {
        margin-right: 0;
    }

    .cart,
    .logout-button {
        margin: 0;
    }

    .perfil-link,
    .cart,
    .logout-button {
        padding: 8px;
    }

    .perfil-link,
    .cart img,
    .logout-button img {
        width: 30px;
        height: 30px;
    }
}

.notifications {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-left: 20px;
}

.notifications img {
    width: 30px;
    height: 30px;
}

.notifications:hover {
    background-color: rgba(155, 155, 155, 0.33);
}

.notifications span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    background-color: #ff0000;
    color: white;
    font-size: 12px;
    line-height: 18px;
    z-index: 10;
}

.select-custom {
    appearance: none;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}

.select-custom option {
    color: #000000;
    background-color: #ffffff;
}

.result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.2s;
}

.result-item:hover,
.result-item.selected {
    background-color: #f2f2f2;
}

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.links {
    padding: 10px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(252, 245, 235, 0.582);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.logo-image {
    width: 60px;
    height: 60px;
}

.store-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

.navegacion {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


.perfil-link,
.cart-link,
.wishlist-link {
    display: inline-block;
}

.cart,
.logout-button,
.wishlist,
.notifications {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
}

.cart:hover,
.logout-button:hover,
.wishlist:hover,
.notifications:hover {
    background-color: #9b9b9b54;
}

.cart img,
.logout-button img,
.wishlist img,
.notifications img {
    width: 30px;
    height: 30px;
}

.cart span,
.notifications span {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #c82d5c;
    color: #fff;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        margin-bottom: 1rem;
    }

    .search {
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
    }

    .navegacion {
        flex-direction: row;
        justify-content: center;
    }

    .navegacion li {
        margin: 0 5px;
    }
}


