.notifications-page {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.page-title {
    color: #2C3E50;
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.notifications-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.orders-section,
.returns-section {
    position: relative;
    /* Para un mejor control del posicionamiento */
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease-in-out;
}

.orders-section:hover,
.returns-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.section-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.order-item,
.return-item {
    background-color: #f7f7f7;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06);
    overflow: hidden; /* Asegura que nada se salga del contenedor */
}

.order-details {
    font-size: 14px; /* Ajusta el tamaño de la fuente si es necesario */
    line-height: 1.4; /* Mejora la legibilidad aumentando el espacio entre líneas */
    word-wrap: break-word; /* Asegura que las palabras largas se partan correctamente */
}

.order-button {
    width: 100%; /* Asegúrate de que el botón no se salga de su contenedor */
    padding: 10px; /* Padding adecuado para el botón */
    margin-top: 10px; /* Espacio antes del botón */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.order-button:hover {
    background-color: #218838;
}

.order-item:hover,
.return-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    /* Permitir que los botones se ajusten según el tamaño */
    gap: 10px;
    /* Espaciado entre botones */
    margin-top: 10px;
}

.button {
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: none;
    transition: transform 0.3s ease, background-color 0.2s;
    color: #ffffff;
    flex-grow: 1;
}

.accept-button, .reject-button, .map-button, .whatsapp-button {
    width: 100%; /* Botones de ancho completo dentro de su contenedor */
}

.product-images {
    width: 150px;
    /* Ajusta el tamaño de la imagen */
    height: 200px;
    /* Mantén una relación de aspecto cuadrada */
    object-fit: cover;
    /* Asegura que la imagen se recorte para llenar el contenedor */
    border-radius: 10px;
    /* Añade bordes redondeados */
    margin-bottom: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Añade una sombra ligera */
}

.accept-button {
    background-color: #28a745;
}

.accept-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.reject-button {
    background-color: #dc3545;
}

.reject-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

.map-button {
    background-color: #3498db;
}

.map-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

.whatsappp-button {
    background-color: #25D366;
}

.whatsappp-button:hover {
    background-color: #1da955;
    transform: scale(1.05);
}

.loading {
    font-size: 1.5rem;
    color: #555;
}

.botoness {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .notifications-container {
        flex-direction: column;
    }

    .orders-section,
    .returns-section {
        margin: 10px -7px;
        padding: 10px; /* Agregar un poco de padding para evitar que los elementos toquen los bordes */
    }

    .button-container {
        flex-direction: column; /* Apilar botones verticalmente en móviles */
    }

    .button {
        width: 100%; /* Hacer que los botones ocupen el ancho completo para evitar desbordamientos */
        margin-bottom: 10px; /* Espacio entre botones cuando están apilados */
    }

    .page-title, 
    .section-title {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para ajustarse a pantallas menores */
    }

    .order-details p,
    .return-details p {
        font-size: 13px; /* Reducir la fuente para mejorar la legibilidad y evitar el desbordamiento */
        margin-bottom: 5px; /* Espacio reducido entre párrafos para compactar el contenido */
    }

    .product-images {
        width: 100px; /* Reducir el tamaño de las imágenes para adaptarse a contenedores más pequeños */
        height: 150px; /* Ajustar la altura correspondiente */
    }

    .botoness {
        grid-template-columns: 1fr; /* Cambiar la disposición de los botones a una columna en dispositivos móviles */
        gap: 10px; /* Aumentar el espacio entre botones para facilitar la interacción */
    }
}
