/* Estilo del contenedor principal */
.confirmar-pedido {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    max-width: 600px;
    margin: 30px auto;
}

/* Estilos para las condiciones de carga y error */
.loading,
.error {
    padding: 20px;
    color: #d33;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

/* Animación para el mensaje de éxito */
.success-message {
    font-size: 24px;
    color: #4CAF50;
    animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para los detalles del pedido */
.order-details {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para listado de productos */
.product-summary {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding: 10px 0;
}

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.product-info {
    text-align: left;
    flex-grow: 1;
}

/* Estilo general para botones */
.confirm-button,
.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.2s, transform 0.2s, box-shadow 0.2s;
}

.confirm-button:hover,
.button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 600px) {

    .confirmar-pedido,
    .order-details {
        padding: 10px;
        max-width: 100%;
        box-shadow: none;
    }

    .product-summary {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-image {
        width: 80px;
        height: 80px;
    }
}