.tracking-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.loader-container,
.error-container {
    text-align: center;
    padding: 20px;
}

.timeline {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 20px;
    flex-wrap: wrap;
    /* Permite que los items de la línea del tiempo se ajusten al tamaño de la pantalla */
}

.timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
    /* Asigna un ancho inicial para cada item de la línea del tiempo */
    min-width: 120px;
    /* Asegura un ancho mínimo para cada item */
}

.timeline-marker {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ddd;
    border: 4px solid white;
}

.timeline-content {
    text-align: center;
    margin-top: 8px;
}

.timeline-item.active .timeline-marker {
    background-color: #4CAF50;
}

.timeline-time {
    color: #333;
    font-size: 14px;
}

.products-list {
    margin-top: 20px;
}

.product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
    /* Permite que los detalles del producto se ajusten bajo la imagen en pantallas pequeñas */
}

.product-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.product-details {
    text-align: left;
    flex-grow: 1;
    /* Permite que los detalles del producto ocupen el espacio restante */
}

.product-name {
    font-size: 16px;
    font-weight: bold;
}

.product-quantity {
    font-size: 14px;
}

@media (max-width: 600px) {
    .timeline-item {
        flex-basis: 50%;
        /* Aumenta el espacio para cada item de la línea del tiempo en pantallas pequeñas */
    }

    .product-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-image {
        margin-bottom: 10px;
        /* Espacio entre la imagen y los detalles del producto en móvil */
    }
}