/* compra.css */

.compra-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
  }

.user-info-form {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #e0e0e0;
    margin-right: 20px;
    border-radius: 8px;
    background-color: white;
}

.user-info-form h2{
    color: #333;
}

.user-info-form input,
.user-info-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.user-info-form button {
    background-color: #c82d5c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
}

.user-info-form button:hover {
    background-color: #a6204a;
}


.divider {
  width: 2px;
  background-color: #c82d5c;
  margin: 0 20px; /* Ajusta según sea necesario */
  height: auto; /* Aj/* El ancho de la divisoria */
  }

.order-summary {
    flex: 1;
    max-width: 500px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}

.order-summary h2 {
    color: #333;
    margin-bottom: 20px;
}

.order-summary .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.order-summary h3 {
    font-size: 1.2rem;
    margin-top: 20px;
}

button[disabled] {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
    }
}

.button-enabled {
    background-color: #4bc751; 
    color: #ffffff;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

select {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc; /* Color de borde inicial */
    border-radius: 4px; /* Bordes redondeados */
    transition: all 0.3s ease-out; /* Transición suave para cambios */
}

/* Estilo cuando el select está enfocado o cambiado */
select:focus,
select:active {
    border-color: #994c4c; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 8px 0 rgba(199, 75, 75, 0.4); /* Añade una sombra sutil */
}

input:focus,
input:active{
    border-color: #994c4c; /* Cambia el color del borde al enfocar */
    box-shadow: 0 0 8px 0 rgba(199, 75, 75, 0.4);
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #fff;
    border-color: #522b46;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .product-image {
    
    width: 80px; /* o el tamaño que prefieras */
    height: 80px; /* debe ser igual al ancho para mantener la proporción */
    object-fit: cover;
    margin-right: 20px;
    border-radius: 4px;
  }

  .user-info-form,
.order-summary {
  flex-basis: calc(50% - 10px); /* Ajusta el ancho de cada columna */
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: white;
  margin-top: 20px; /* Asegúrate de que haya espacio en la parte superior */
}

/* Otra opción es ocultar el botón si no es necesario */
.Toastify__close-button {
    padding: 0; /* Reduce o elimina el relleno si es necesario */
    margin: 0; /* Reduce o elimina el margen si es necesario */
    width: auto; /* Asegúrate de que solo toma el espacio que necesita */
}



@media (max-width: 768px) {
    .compra-container {
      flex-direction: column; /* En pantallas pequeñas, apila los elementos */
      align-items: center; /* Centra los elementos horizontalmente */
    }
  
    .user-info-form,
    .order-summary {
      flex-basis: 100%; /* Los elementos se expanden para llenar el ancho */
      margin-top: 0; /* Remueve el margen superior para que se apilen sin espacio */
    }
  
    .divider {
      width: auto; /* La divisoria ocupa todo el ancho */
      height: 2px; /* La divisoria es ahora horizontal */
      margin: 20px 0; /* Agrega margen vertical */
    }
  }

/* Si necesitas más estilos para elementos específicos, puedes agregarlos aquí. */