.add-product-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 40px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-product-form input[type="text"],
.add-product-form input[type="number"],
.add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.add-product-form input[type="file"] {
    margin-bottom: 15px;
}

.add-product-form button {
    width: 100%;
    padding: 10px;
    background-color: #742424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-product-form button:hover {
    background-color: #b30000;
}

.add-product-form textarea {
    resize: vertical;
    min-height: 100px;
}