@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

html {
    scroll-behavior: smooth;
}

.container{
    background-color: #FFFFFF;
    height: 100vh;
    margin: 0 auto;
    padding: 0;

}
.contenedor {
    max-width: 90%;
    margin: auto;
    font-family: "Poppins", sans-serif;
}
.mtop{
    margin-top: 40px;
}

/* ------- Product ------------*/
.product{
    background: #fff;
    padding: 20px;
    position: relative;
    border-radius: 8px;
    box-shadow:rgb(3 0 71 / 9%) 0 1px 3px ;
    margin: 10px;
}
.product h3{
    font-weight: 400;
    font-size: 17px;
}

.product .rate i{
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0
}
.product .price{
    display: flex;
    justify-content: space-between;
    color: #e94560;
}
.product button{
    background: none;
    color: #e94560;
    font-size: 20px;
    border: 1px solid rgb( 3 0 71 / 9%);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    transition: 0.5s;
}
.product button:hover{
    cursor: pointer;
    background: #e94560;
    color: #fff;
}
.product-like{
    position: absolute;
    top:0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}
.product-like label{
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 50px;
}
.product-like i{
    font-size: 20px;
    margin: 10px 3px;
}

.product:hover .product-like {
    opacity: 1;
    cursor: pointer;
}
/*---------control-btn----------*/

.control-btn .next,
.control-btn .prev{
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    line-height: 60px;
    background: #0f3460;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 5;
}
.control-btn .prev{
    left: -20px;
}
.control-btn .next{
    right: -20px;
}
.control-btn .next i,
.control-btn .prev i{
    font-size: 20px;
    transition: 0.5s;
    color: #fff;
}
.control-btn .next:hover,
.control-btn .prev:hover{
    background-color: #e94560;
    color: #fff;
    cursor: pointer;
}
.control-btn button{
    border: none;
    outline: none;
    background: none;
}
.heading i {
    color: #e94560;
    margin: 10px;
    padding-top: 15px;
}
.f_flex {
    display: flex;
}
