@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

}

.register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
}


.login-box {
    width: 500px;
    margin: auto auto;
    background-image: linear-gradient(to right, #019b98, #55ccc9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

input[type='email'],
input[type='password'] {
    border: none;
    outline: none;
    background: none;
    color: #333;
    font-size: 18px;
    padding: 10px 0;
}

.input-box {

    margin-bottom: 30px;
    width: 100%;
}

.input-box input {
    width: 100%;
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

.input-box.active input,
.input-box input:focus {
    border-color: #007bff;
}

.input-box label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
}

.input-box.active label,
.input-box input:focus ~ label {
    top: -15px;
    font-size: 14px;
    color: #cb5fdf;
}

.icon {
    position: absolute;
    top: 10px;
    left: 0;
}

.remember-forget {
    margin-bottom: 20px;
}

button[type='submit'] {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}

button[type='submit']:hover {
    background-color: #ECECEC;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #DC98FA;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}






button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}


body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.Register-box {
    position: relative;
    width: 380px;
    height: 700px;
    background: #000;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    margin: 80px auto 0;
    transition: 0.1s;
}



h2 {
    font-weight: lighter;
    margin: 0;
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;
}

.remember-forget {
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    margin-right:  3px;
}

.remember-forget a {
    color: #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}

.register-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .login-box {
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
    .input-box {
        width: 290px;
    }
}